<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>환율계산</title>
</head>
<body>
<h1>환율 계산</h1>
<br>
<form id="" name="" action="" method="">
    <span style="display: block;">송금국가 : 미국(USD)</span>
    <span>수취국가 : </span>
    <select name="country" id="country">
        <option value="krw">한국(KRW)</option>
        <option value="jpy">일본(JPY)</option>
        <option value="php">필리핀(PHP)</option>
    </select>
    <span style="display: block;">환율 : <span id="spanExchangeRate"></span></span>
    <span>송금액 : </span><input type="text" id="submitAmt"/>USD
    <button style="display: block;" type="button" onclick="sendMoney()">Submit</button>
</form>
<br>
수취금액은<span id="total"></span> 입니다.
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script type="text/javascript">
    let exchangeRate = 0;
    const array = {
        "krw" : "KRW/USD",
        "jpy" : "JPY/USD",
        "php" : "PHP/USD"
    }
    $(function(){
        $("#country").change(function(){
            exchangeRateApiCall($("#country").val());
        });
    });

    exchangeRateApiCall("krw");

    function exchangeRateApiCall(param){
        $.ajax({
            method:'get',
            url:'/currentExchangeRate',
            success:function(data){
                let res = data.data;
                exchangeRate = Number(res[param]);
                $("#spanExchangeRate").text(res[param] + " " + array[param]);
            }
        });
    }

    function sendMoney(param){
        let data = {"usd" : $("#submitAmt").val()}
        $.ajax({
            method:'post',
            url:'/currentExchangeRate',
            contentType:"application/json",
            dataType:'json',
            data:JSON.stringify(data),
            success:function(res){
                if(res.code === 200){
                    let amt = (exchangeRate * $("#submitAmt").val()).toFixed(2);
                    $("#total").text(numberWithCommas(amt) + " " + $("#country").val().toUpperCase());
                }
                else{
                    alert(res.message);
                }

            }
        });

    }

    /**
     * reference : https://zxchsr.tistory.com/19
     * @param num
     * @returns {string}
     */
    function numberWithCommas(num) {
        var parts = num.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
    }
</script>
</body>
</html>